{% extends "myadmin/base.html" %}
{% block mainbody %}

    <h1>网站后台管理</h1>
    <div class="hero-unit">
        <h2>欢迎进入商城后台管理！</h2>
        <p>To get the most out of Akira start with our 3 minute tour.</p>
        <p>
            <a href="#" class="btn btn-primary btn-large">开始管理</a>
            <a class="btn btn-large">不管了</a>
        </p>
    </div>
    <div class="well summary">
        <ul>
            <li><a href="#"><span class="count">3</span> 衣</a></li>
            <li><a href="#"><span class="count">27</span> 食</a></li>
            <li><a href="#"><span class="count">7</span> 住</a></li>
            <li class="last"><a href="#"><span class="count">5</span> 行</a></li>
        </ul>
    </div>

{% endblock %}